body {
  background-color: #fafafa;
}
.navbar {
  width: 90%;
  top: 10px;
  display: flex;
  justify-content: center;
  margin: auto;
  border-radius: 26px;
  background: #ffffff;
  box-shadow:
    20px 20px 60px #d9d9d9,
    -20px -20px 60px #ffffff;
}
ul {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 10px;
  width: 90%;
  list-style-type: none;
  align-items: center;
}

.card {
  background-color: #fff111;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 20px;

  text-align: center;
  position: relative;
  text-wrap: balance;
  width: 170px;
  height: 270px;
}
.card img {
  cursor: pointer;
  border-radius: 25px;
  width: 170px;
  height: 200px;
  box-shadow: #6fff66;
}

li img {
  width: 100px;
}

.container {
  width: 90%;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 00.5fr));
  grid-gap: 20px;
  place-items: center;
  box-sizing: border-box;
  border-radius: 26px;
  background: #ffffff;
  box-shadow:
    20px 20px 60px #d9d9d9,
    -20px -20px 60px #ffffff;
}

.card {
  align-items: center;
  justify-content: center;
  outline: none;
  background-image: linear-gradient(to top, #d8d9db 0%, #fff 80%, #fdfdfd 100%);
  border-radius: 30px;
  border: 0.5px solid #8f9092;
  transition: all 0.2s ease;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px #fff;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card:hover {
  box-shadow:
    0 4px 3px 1px #fcfcfc,
    0 6px 8px #d6d7d9,
    0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe,
    inset 0 0 3px 3px #cecfd1;
}

.card:active {
  box-shadow:
    0 4px 3px 1px #fcfcfc,
    0 6px 8px #d6d7d9,
    0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe,
    inset 0 0 5px 3px #999,
    inset 0 0 30px #aaa;
}

.card:focus {
  box-shadow:
    0 4px 3px 1px #fcfcfc,
    0 6px 8px #d6d7d9,
    0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe,
    inset 0 0 5px 3px #999,
    inset 0 0 30px #aaa;
}

input {
  border: none;
  min-width: 250px;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  background-color: #fefefe;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
  transition: 300ms ease-in-out;
}

input:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow:
    13px 13px 100px #969696,
    -13px -13px 100px #ffffff;
}
.book-card {
  width: 300px;
  height: 400px;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.book-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.book-card h2 {
  font-size: 18px;
  color: #333;
  margin-top: 10px;
}
.btn-fav {
  font-size: 30px;
}
.btn-fav::before {
  color: #ff0000;
}
.btn-fav:hover {
  color: #ff0000;
}
.goToHome {
  border-radius: 26px;
  background: #ffffff;
  box-shadow:
    20px 20px 60px #d9d9d9,
    -20px -20px 60px #ffffff;
}
